<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>问题页面</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/topic.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/topic-right.css">
    <script src="javascripts/lib/jquery-2.1.3.min.js" charset="utf-8"></script>
    <script  src="javascripts/lib/bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/sidebar.js" defer="defer" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/header.js" defer="defer" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/topic.js" defer="defer" charset="utf-8"></script>
</head>

<body>

<% include header %>

<div class="questionmain">

    <!--<%=locals.session.user%>-->

    <div class="questionleft">
        <div class="questiondiv">
            <div class="question"><%=question.quescontent%></div>
            <div class="quesdesc"><%=question.quesdesc%></div>
            <div class="questionperson" >
                <a class="questionname"><%=question.user.username%></a>
                <span class="time">提问于 <%=question.questime%></span>
                <hr>
            </div>
        </div>

        <%if(answers && answers.length){
            answers.forEach(function(answer){ %>
                <div class="answer">
                    <a href="#"><img src="<%=answer.user.usericon%>"></a>
                    <div class="answerperson">
                        <a class="answername" ><%=answer.user.username%></a>
                        <span class="answerintroduction">&nbsp&nbsp&nbsp<%=answer.user.briefintro%></span>
                    </div>
                    <div class="answercontent">
                        <%=answer.anscontent%>
                    </div>
                    <div class="afteranswer">
                        <a class="answerid" style="display: none"><%=answer._id%></a>
                        <a id="commentlabel" class="commentlabel" style="cursor: pointer" >评论(<%=answer.comnum%>)</a>
                        <span class="time"><%=answer.anstime%></span>
                    </div><!--afteranswer end-->

                    <div id="comment">
                        <div id="comment-div">

                        </div>

                        <div class="mycomment">
                            <input type="text" id="mycommentcontent">
                            <input type="text" style="display: none" id="ansid" value="<%=answer._id%>">
                            <input type="text" style="display: none" id="comnum" value="<%=answer.comnum%>">
                            <input type="submit" class="mybutton submitcomment" id="submitcomment" value="发表评论">
                        </div>
                    </div><!--comment end-->
                </div><!--answer end-->
                <hr>
         <% })
        }%>


        <form id="myanswer"  method="post"  action="/addAnswer" >
            <input style="display: none;" name="quesid" value="<%=question._id%>"/>
            <textarea id="myanswercontent" name="myanswercontent" rows="3" cols="20"></textarea><br>
            <input type="submit" class="mybutton" id="submitanswer" value="发布回答">
        </form>

    </div><!--profileleft end-->

   <% include topic-right%>

</div>
</body>
</html>
